
<div id="book">

  <div class="cta-bar">
    <p class="edition-details">
      <button class="btn btn-default">Browse Editions <span class="badge number-of-editions"></span></button>
      &mdash; you're seeing the latest, available edition
    </p>
    <div class="ctas">
      {% include "partials/cta-" + status  + ".html" %}
    </div>
  </div>

  <hr/>
 
  <div class="top-section">
    <div><img class="bookcover" src="" title="bookcover"/></div>
    <div class="work-primary-metadata">
      <h1>
	<span class="title"></span> <span class="subtitle"></span>
      </h1>
      <p class="authors">by <a href="" class="author"></a></p>
      
      <p class="work-subjects">	
      </p>

      <p class="description"></p>

      <hr/>
    </div>

    <div class="book-ctas">
      <div class="book-cta book-cta-read">
	<div class="action">
	  <button class="btn btn-primary">Read Online</button>
	</div>
	<!-- {% include "partials/cta-" + status  + ".html" %} -->
      </div>
      <div class="book-cta book-cta-other">
	<div class="action">
	  <div class="btn-group">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	      Find or Buy <span class="caret"></span></button>
	    <ul class="dropdown-menu" role="menu">
	      <li><a href="#">Amazon</a></li>
	      <li><a href="#">Better World Books</a></li>
	      <li><a href="#">WorldCat</a></li>
	      <li><a href="#">LibraryThing</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
