
<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div style="padding: 5px">
  <div class="btn-group">
    <button type="button" class="btn btn-success change-txt">Read eBook</button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	Find Book <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
	<li><a href="#">WorldCat</a></li>
	<li><a href="#">LibraryThing</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	Buy <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
	<li><a href="#">Amazon</a></li>
	<li><a href="#">Better World Books</a></li>
      </ul>
    </div>
  </div>

  <br/>
  <br/>

  <div class="btn-group">
    <button type="button" class="btn btn-warning change-txt">Join Waitlist <span class="badge">4</span></button>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	Find Book <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
	<li><a href="#">WorldCat</a></li>
	<li><a href="#">LibraryThing</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	Buy <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
	<li><a href="#">Amazon</a></li>
	<li><a href="#">Better World Books</a></li>
      </ul>
    </div>
  </div>

  <br/>
  <br/>

  <div class="btn-group">
    <button type="button" class="btn btn-danger change-txt">Request eBook <span class="badge">17</span></button>
    <a type="button bookmooch" class="btn btn-primary" href="http://bookmooch.com/m/bio/internetarchive">Donate my Copy</a>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	Find Book <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
	<li><a href="#">WorldCat</a></li>
	<li><a href="#">LibraryThing</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	Buy <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
	<li><a href="#">Amazon</a></li>
	<li><a href="#">Better World Books</a></li>
      </ul>
    </div>
  </div>
</div>
