<div class="btn-group">
  <button type="button" class="btn btn-danger change-txt">Want to Read <span class="badge">17</span></button>
  <a type="button bookmooch" class="btn btn-info" href="http://bookmooch.com/m/bio/internetarchive">Donate my Copy</a>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Find or Buy <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Amazon</a></li>
      <li><a href="#">Better World Books</a></li>
      <li><a href="#">WorldCat</a></li>
      <li><a href="#">LibraryThing</a></li>
    </ul>
  </div>
</div>
