
<div class="btn-group">
  <button type="button" class="btn btn-success change-txt">Read</button>
  <button type="button" class="btn btn-info">Preview</button>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Find or Buy <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Amazon</a></li>
      <li><a href="#">Better World Books</a></li>
      <li><a href="#">WorldCat</a></li>
      <li><a href="#">LibraryThing</a></li>
    </ul>
  </div>
</div>

