<div id="home">
  <div id="home-nav">
    <ul>
      <li><strong>Popular Books</strong></li>
      <ul>
	<li>Lorum ipsum</li>
	<li>Random text</li>
      </ul>
      <li><strong>Recently Returned</strong></li>
      <ul>
	<li>Best sellers</li>
      </ul>
      <li><strong>Worth the Wait</strong></li>
    </ul>
  </div>

  <div id="home-content">
    <section class="carousel">
      <h2 class="section-title">Browse Books by Category</h2>
      <p><a href="https://openlibrary.org/subjects">Click here</a> to search for a category.</p>
      <!--
	  <div class="categories">
	  </div>
	  -->
    </section>
  </div>
</div>
