body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

header {

}

.second-nav {
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: .75em;
}

header ul {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
}

header ul li {
    display: inline;
    margin-right: 15px;
}

header ul li a {
    color: #000;
    text-decoration: none;
}
    
.logo-txt {
    font-size: .8em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.logo-bold {
    margin-left: 40px;
    font-weight: 700;
}

.logo-bar {
    box-shadow: 0px 3px 5px #ccc;
    padding-top: 0px;
    height: 45px;
}

.topsec { 
    width: 100%;
    background-color: #036DAA;
    height: 125px;
}

.logo {	       
    margin: 10px;
    margin-top: 9px;
    margin-bottom: 6px;
}

.logo a {
    color: #000;
    text-decoration: none;
}

.logo-icon {
    position: absolute;
    top: 10px;
    width: 30px;
}

.logocontainer {
    position: absolute;
    margin-right: 20px;
    width: 150px;
    float: left;
    margin-left: 75px;
}

.accountcontainer a span.username {
    font-size: 1em;
    text-decoration: none;
}

.accountcontainer i {
    font-size: 1.2em;
    color: #fff;
}

.accountcontainer a {

    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
}

.accountcontainer {
    position: absolute;
    margin-right: 25px;
    right: 0px;
    top: 90px;
}

.searchcontainer {
    position: absolute;
    top: 4px;
    left: 270px;
    min-width: 250px;
    right: 100px;
}

.searchoptions {
    font-family: 'Poppins', sans-serif;
    padding: 0px 10px;
    margin: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #000;
    color: #fff;
    position: relative;
    top: 1px;
    height: 40px;
    border: 0px;
    font-size: .8em;
    font-weight: 300;
}

.upper {
    text-transform:capitalize;
}

.searchoptions:after {
    content:"\f0dc";
    font-family: FontAwesome;
    color: #333;
    padding: 12px 8px;
    position: absolute; right: 0; top: 0;
    background: red;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}
		   
.searchbox {
    padding: 5px 10px;
    width: 50%;    
    height: 30px;
    border: none;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.searchbtn {
    font-size: 1.1em;
    padding: 0px 15px;
    position: relative;
    top: 2px;
    height: 42px;
    border: 0px;
    background-color: #000; //#028bda;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-menu {
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
    font-weight: 100;
    padding: 10px;
    min-height: 400px;
    height: 100%;
    border-right: 1px solid #eee;
    width: 150px;
    float: left;
}

.nav-menu ul {
    list-style-type: none;
    padding-left: 10px;
}

.nav-menu ul li strong {
    font-weight: 500;
}

i.more {
    color: #7ea5b9;
    position: relative;
    top: 2px;
    font-size: .9em;
    margin-right: 10px;
}

.section-title {
    font-weight: normal;
}

.content {
    margin: 0 25px;;
}

.nostyle {
    text-decoration: none;
    color: inherit;
    
}

.category-item {
    margin: 0 auto;
    padding: 10px;
}

.category-item p {
    text-align: center;
}

.category-title {
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
}

.category-title a {
    color: #000;
    text-decoration: none;
}

.category-count {
    font-size: .7em;
    margin: 0px;
    padding: 0px;
    color: #999;
}

.category-icon {
    width: 50px;
    margin: 0 auto;
}

.category-img {
    width: 50px;
}

.categories {
    font-family: Georgia,"Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman",serif;
    background-color: #fafafa;
    margin-left: 20px;
    margin-right: 20px;
}

.audiobooks {
    font-family: Georgia,"Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman",serif;
    background-color: #fafafa;
    margin-left: 20px;
    margin-right: 20px;
}

.audiobook-item {
    width: 40px;
    padding: 10px;
}

.slick-prev:before, .slick-next:before{
    color: #aaa;
}
